.row {
  margin-left: 20px;
  color: white;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  position: relative;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row__posterLarge {
  max-height: 250px;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge:hover {
  transform: scale(1.09);
  opacity: 1;
}

.row__leftArrow {
  position: absolute;
  top: 45%;
  left: 5%;
  -ms-transform: translate(-45%, -5%);
  transform: translate(-45%, -5%);
}
.row__rightArrow {
  position: absolute;
  top: 45%;
  right: 5%;
  -ms-transform: translate(-45%, -5%);
  transform: translate(-45%, -5%);
}

.row__arrow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  z-index: 1000;
}

.row__arrow:hover {
  cursor: pointer;
}
